*
{
    margin: 0px;
    padding: 0px;
   
}

.mainlogo
{
    float: left;
    height: 70px;
    width: 100px;
    margin-right: 40px;
}
.mainlogo:hover
{
    background: seashell;
    border-radius: 130px;

}
.nav-item:hover
{
    background:black;
    border-radius: 130px;
    transition:0.6s ease;
  
   
}
.dropdown-menu
{
    border-radius: 30px;
}
.dropdown:hover>.dropdown-menu {
    display: block;
  }
  
  .dropdown>.dropdown-toggle:active {
    /*Without this, clicking will make it sticky*/
      pointer-events: none;
  }
 
  .dropdown-item:hover
{
    background-color:black;
    border-radius: 30px;
   transition: cubic-bezier(0.6, -0.28, 0.735, 0.045);

}
.logo
{
    margin-left: 410px;
   
}
.heading
{
    color:#9932CC;
    text-align: center;
    text-decoration: underline;
    margin-bottom: 10px;
}
.formTable
{
    border-spacing: 15px;
}
.nestedtable
{
    border-spacing: 5px;
}
.nested
{
    text-align: center;
}
.button-control
{
    margin: auto;
}
.submit
{
    margin-left: 350px;

}
.reset
{
    margin-left: 10px;

}
.Form
{
    margin-left: 30px;
    margin-right: 30px;
    padding-bottom: 10px;
    background-color:#9932CC;
    color: white;
}
.thanku
{
    margin-left: 40%;
    margin-top: 10%;
}
.heading2
{
    color: green;
    margin-left: 41%;
}
.back
{
    color: purple;
    margin-left: 43%;
    padding-top: 0px;
}
.assignments
{
    margin-top: 50px;
    margin-left: 80px;
    
}
#sticky-footer {
    flex-shrink: none;
   
        position: fixed;
        left: 0;
        bottom: 0;
        width: 100%;
       
        color: white;
        text-align: center;
     
  }


